* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    background-color: #f2f2f2
}

.centralizar {
    min-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mensagem {
    min-width: 90%; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

#voltar-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#sair-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}